extends /layout


block content
  h1 Add Post
  form
    div
      h2 Title:
      input#title(name='title' type=text placeholder='title')
    div
      h2 Author
      input#name(name='author-name' type='text' placeholder='name')
      input#url(name='author-url' type='text' placeholder='url')
      input#desc(name='author-desc' type='text' placeholder='description')
      input#image(name='author-image' type='image' placeholder='image')
